{% extends 'main.html' %}

{% block content %}
<div style="width: 100%; height: 100dvh; display: flex; align-items: center; justify-content: center">
    <form style="background: white; padding: 16px; border-radius: 8px" method="POST" action="">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ obj }}"</p>
        <a class="btn btn-outline-secondary" href="{{ request.META.HTTP_REFERER }}">Go Back</a>
        <input class="btn btn-danger" type="submit" value="Confirm"/>
    </form>
</div>
{% endblock %}