{% extends 'main.html' %}

{% block content %}
    <form action="" method="post" style="max-width: 300px;">
        {% csrf_token %}
        <h3>Add Device</h3>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input required class="form-control" name="name" placeholder="Main Light" value="{{ device.name }}">
        </div>
        <div class="mb-3">
            <label class="form-label">Room</label>
            <select required class="form-control" name="room"
                    style="outline: none; border: none; padding: 8px 16px; background: #FAFAFC; border-radius: 4px; display: inline-flex; align-items: center; gap: 8px">
                {% for room in selected_house.rooms.all %}
                    <option {% if device.room == room %}
                        selected
                    {% endif %} value="{{ room.id }}">{{ room.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
{% endblock content %}