<div class="d-flex align-items-center flex-column">
    <a style="display: inline-flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 1000vh; border: 2px solid #0d6efd; {% if device.data.all.0.data.status == "on" %} background: #0d6efd {% endif %}">
        {% if device.data.all.0.data.status == "on" %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                 fill="white"
                 class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
                <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5"></path>
            </svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                 fill="#0d6efd"
                 class="bi bi-lightbulb" viewBox="0 0 16 16">
                <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1"></path>
            </svg>
        {% endif %}
    </a>
    <small>{{ device.data.all.0.timestamp|timesince }}</small>
    <input class="align-self-stretch" type="range" min="0" max="100"
           value="{{ device.data.all.0.data.brightness }}"/>
    <small>{{ device.data.all.0.data.brightness }}%</small>
</div>