<div>
    <div class="d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
             class="bi bi-thermometer-snow" viewBox="0 0 16 16">
            <path d="M5 12.5a1.5 1.5 0 1 1-2-1.415V9.5a.5.5 0 0 1 1 0v1.585A1.5 1.5 0 0 1 5 12.5"></path>
            <path d="M1 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0zM3.5 1A1.5 1.5 0 0 0 2 2.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0L5 10.486V2.5A1.5 1.5 0 0 0 3.5 1m5 1a.5.5 0 0 1 .5.5v1.293l.646-.647a.5.5 0 0 1 .708.708L9 5.207v1.927l1.669-.963.495-1.85a.5.5 0 1 1 .966.26l-.237.882 1.12-.646a.5.5 0 0 1 .5.866l-1.12.646.884.237a.5.5 0 1 1-.26.966l-1.848-.495L9.5 8l1.669.963 1.849-.495a.5.5 0 1 1 .258.966l-.883.237 1.12.646a.5.5 0 0 1-.5.866l-1.12-.646.237.883a.5.5 0 1 1-.966.258L10.67 9.83 9 8.866v1.927l1.354 1.353a.5.5 0 0 1-.708.708L9 12.207V13.5a.5.5 0 0 1-1 0v-11a.5.5 0 0 1 .5-.5"></path>
        </svg>
        <p class="m-0 p-0">
            {{ device.name }}<br>
            <small>{{ device.data.all.0.timestamp|timesince }} ago</small>
        </p>
    </div>
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-center flex-column">
            <small>Current: </small>
            <h2>{{ device.data.all.0.data.current_temperature }}C&deg;</h2>
        </div>
        <div class="d-flex flex-column align-items-center">
            <a>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                     fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"></path>
                </svg>
            </a>
            <h2>{{ device.data.all.0.data.target_temperature }}C&deg;</h2>
            <a>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                     fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"></path>
                </svg>
            </a>
        </div>
    </div>
    {#                                <div style="width: 100%; position: relative">#}
    {#                                    <canvas style="position: absolute; top: 0; left: 0; width: 100%; height: 100%" id="{{ device.id }}"></canvas>#}
    {#                                </div>#}
    {#                                <script>#}
    {#                                    const id = {{ device.id }}#}
    {#                                    const ctx = document.getElementById('{{ device.id }}');#}
    {#                                    console.log(ctx)#}
    {#                                    const data = JSON.parse(JSON.parse(document.getElementById('devicesData').textContent)).filter(d => d.device_id == id)[0];#}
    {#                                    let temp = data.device_data.map(d => d.data.current_temperature)#}
    {#                                    let target = data.device_data.map(d => d.data.target_temperature)#}
    {#                                    let times = data.device_data.map(d => new Date(d.timestamp))#}
    {#                                    console.log(times)#}
    {#                                    console.log(temp)#}
    {##}
    {#                                    new Chart(ctx, {#}
    {#                                        type: 'line',#}
    {#                                        data: {#}
    {#                                            labels: data.device_data.map(d => d.timestamp),#}
    {#                                            datasets: [{#}
    {#                                                label: 'Temperature',#}
    {#                                                data: temp,#}
    {#                                                fill: false,#}
    {#                                                borderColor: 'rgb(75, 192, 192)',#}
    {#                                                tension: 0.1#}
    {#                                            }, {#}
    {#                                                label: 'Target',#}
    {#                                                data: target,#}
    {#                                                fill: false,#}
    {#                                                borderColor: 'rgb(232,27,182)',#}
    {#                                                tension: 0.1#}
    {#                                            }]#}
    {#                                        },#}
    {#                                        options: {#}
    {#                                            scales: {#}
    {#                                                x: {#}
    {#                                                    type: 'time',#}
    {#                                                    time: {#}
    {#                                                        unit: 'minute'#}
    {#                                                    },#}
    {#                                                    title: {#}
    {#                                                        display: true,#}
    {#                                                        text: 'Time'#}
    {#                                                    }#}
    {#                                                },#}
    {#                                                y: {#}
    {#                                                    title: {#}
    {#                                                        display: true,#}
    {#                                                        text: 'Value'#}
    {#                                                    }#}
    {#                                                }#}
    {#                                            }#}
    {#                                        }#}
    {#                                    });#}
    {#                                </script>#}
</div>