{% extends 'main.html' %}

{% block content %}
    <div>
        <form id="create_group_form" method="POST" action="?next={{ request.META.HTTP_REFERER }}" style="max-width: 400px">
            <h3>Update Group</h3>
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input required name="name" class="form-control" value="{{ group.name }}"/>
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea name="description" class="form-control">{{ group.description }}</textarea>
            </div>
            <input type="hidden" name="device_object" id="device-object-input">
            <div class="mb-3">
                <label class="form-label">Devices</label>
                {% for device in group.devices.all %}
                    <div style="display: flex; align-items: center; gap: 4px; background: #FFFFFF; border-radius: 8px; padding: 8px;  border: 1px solid lightgray; margin-bottom: 8px;">
                        <label class="form-label">Device</label>
                        <select class="form-control device-select">
                            {% for deviceall in devices %}
                                <option {% if deviceall == device %}
                                    selected
                                {% endif %}  value="{{ deviceall.id }}">{{ deviceall.name }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-danger delete-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                            </svg>
                        </button>
                    </div>
                {% endfor %}
                <button class="btn btn-light" id="add_device_btn">+ Add Device</button>
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>

    <script>
        const addDeviceBtn = document.getElementById("add_device_btn")
        const form = document.getElementById("create_group_form")
        const deleteButtons = document.getElementsByClassName("delete-btn")
        const devices = [
            {% for device in devices %}
                {
                    id: {{ device.id }},
                    name: "{{ device.name|escapejs }}"
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];

        for (let b of deleteButtons){
            b.addEventListener("click", (e) => {
                e.preventDefault()
                e.currentTarget.parentElement.remove()
            })
        }


        addDeviceBtn.addEventListener("click", (e) => {
            e.preventDefault()

            const wrapper = document.createElement("div")
            wrapper.style = `display: flex; align-items: center; gap: 4px; background: #FFFFFF; border-radius: 8px; padding: 8px;  border: 1px solid lightgray; margin-bottom: 8px;`

            const label = document.createElement("label")
            label.classList.add("form-label")
            label.innerText = "Device"
            const select = document.createElement("select")
            select.classList.add("form-control", "device-select")
            setOptions(select)

            const deleteBtn = document.createElement("button")
            deleteBtn.classList.add("btn", "btn-danger")
            deleteBtn.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
</svg>`
            deleteBtn.addEventListener("click", (e) => {
                e.preventDefault()
                wrapper.remove()
            })

            wrapper.insertAdjacentElement("beforeend", label)
            wrapper.insertAdjacentElement("beforeend", select)
            wrapper.insertAdjacentElement("beforeend", deleteBtn)
            addDeviceBtn.insertAdjacentElement("beforebegin", wrapper)
        })

        function setOptions(selectElement) {
            options = [`<option disabled value="">Select device</option>`]
            devices.filter(d => !d.disabled).forEach(d => {
                options.push(`<option value="${d.id}">${d.name}</option>`)
            })
            selectElement.innerHTML = options.join(" ")
        }


        form.addEventListener("submit", (e) => {
            e.preventDefault()
            const deviceSelect = document.getElementsByClassName("device-select")
            let deviceSet = new Set()
            for (let select of deviceSelect) {
                console.log(select.value)
                if (select.value != "") {
                    console.log(select.value)
                    deviceSet.add(parseInt(select.value))
                }
            }
            const devicesObject = document.getElementById("device-object-input")
            devicesObject.value = JSON.stringify([...deviceSet]);
            console.log(devicesObject.value)
            form.submit()
        })

    </script>
{% endblock %}