:root {
    --primary-color: #007BFF;
    --background-color: #F5F5F5;
    --success-color: #28A745;
    --warning-color: #FFC107;
    --error-color: #DC3545;
    --secondary-color: #66B2FF;
    --text-color: #343A40;
    --text-inverse-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
}

button.primary {
    background-color: var(--primary-color);
    color: var(--text-inverse-color);
}

button.success {
    background-color: var(--success-color);
    color: var(--text-inverse-color);
}

button.warning {
    background-color: var(--warning-color);
    color: var(--text-color);
}

button.error {
    background-color: var(--error-color);
    color: var(--text-inverse-color);
}

button.secondary {
    background-color: var(--secondary-color);
    color: var(--text-inverse-color);
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    background-color: #f8f9fa;
    align-items: center;
    z-index: 1;
    transition: left 400ms ease-in-out;
}

/*.sidebar:not(.show) > button.btn {*/
/*    align-self: center !important;*/
/*}*/

/*.sidebar:not(.show) > div {*/
/*    align-items: center;*/
/*}*/

/*.sidebar.show > div {*/
/*    align-items: stretch !important;*/
/*}*/


.sidebar.show {
    /*width: 250px;*/
    left: 0px;
    align-items: start;
}

.sidebar .tooltip-nav {
    position: relative;
}

.sidebar .tooltip-nav::after {
    content: attr(data-name);
    display: none;
    position: absolute;
    left: 50px;
    text-wrap: nowrap;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border-radius: 8px;
    padding: 8px;
    color: black !important;
}

.sidebar .tooltip-nav::before {
    content: '';
    display: none;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 40px;
    border-radius: 1px;
    transform: rotate(45deg) translateY(-50%);
    background: white;
    position: absolute;
    color: black !important;
}
/*.sidebar:not(.show) .tooltip-nav:hover::after, .sidebar:not(.show) .tooltip-nav:hover::before {*/
/*    display: block;*/
/*}*/


/*.sidebar:not(.show) .link-text {*/
/*    display: none;*/
/*}*/

.main-content {
    margin-left: 0;
    width: 100% !important;
    transition: margin-left 400ms ease-in-out,
    width 400ms ease-in-out;
}

.main-content.sidebar-expanded {
    margin-left: 250px;
    width: calc(100% - 250px) !important;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, calc(100%/4)));
    gap: 1rem;
    grid-auto-flow: dense; /* Ensures that items fill gaps */
}

.grid-item {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
}

.grid-item.large {
    grid-column: span 2;
}

#sidebarToggle > svg {
    /*transition: transform 200ms ease-in-out;*/
}

.nav-pills {
    gap: 8px;
}

.nav-link {
    border: 1px solid #0d6efd !important;
}

.gap {
    gap: 16px
}

#header-user {
    box-sizing: border-box;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 10;
}

#header-user:hover {
    background: white;
}

#header-user-options{
    position: absolute;
    display: none;
    padding: 8px;
}

#header-user-options > *{
    width: 100%;
}

#header-user:hover #header-user-options {
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4BD865;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4BD865;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

a.btn {
    text-wrap: nowrap
}